<section class="content mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <mat-form-field>
              <mat-label>Buscar</mat-label>
              <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
            </mat-form-field>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="mat-elevation-z8">

                  <table class="table-responsive" mat-table [dataSource]="dataSource" >


                  <!-- Dni Column -->
                  <ng-container  matColumnDef="dni">
                    <th class="text-center"  mat-header-cell *matHeaderCellDef><b> Dni</b> </th>
                    <td class="text-center" mat-cell *matCellDef="let element"> {{element.dni}} </td>
                  </ng-container>

                  <!-- Position Column -->
                  <ng-container matColumnDef="nombre">
                    <th class="text-center" mat-header-cell *matHeaderCellDef><b> Nombre</b> </th>
                    <td class="text-center" mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="tipoViolencia">
                    <th class="colorHead text-center"  mat-header-cell *matHeaderCellDef><b> Tipo de Violencia</b> </th>
                    <td class="color text-center" mat-cell *matCellDef="let element"> {{element.tipoViolencia}} </td>
                  </ng-container>

                  <!-- Weight Column -->
                  <ng-container matColumnDef="riesgo">
                    <th class="colorHead text-center" mat-header-cell *matHeaderCellDef><b> Riesgo</b></th>
                    <td class="color text-center" mat-cell *matCellDef="let element"> {{element.riesgo}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="motivacionCambioE">
                    <th class="colorHead text-center" mat-header-cell *matHeaderCellDef><b> Etapa de motivacion al cambio</b></th>
                    <td class="color text-center" mat-cell *matCellDef="let element">
                      <div *ngIf="element.motivacionCambioE; else elseBlock">
                        {{element.info_MotiCambio}}
                      </div>
                      <ng-template #elseBlock>
                        Aun no completado
                      </ng-template>
                    </td>
                  </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="copersmithE">
                      <th class="color2Head text-center"  mat-header-cell *matHeaderCellDef><b> Copersmith (Autoestima)</b> </th>
                      <td class="color2 text-center" mat-cell *matCellDef="let element">
                        <div *ngIf="element.copersmithE; else elseBlock">
                          {{element.info_CoperSmith}}
                        </div>
                        <ng-template #elseBlock>
                          Aun no completado
                        </ng-template>
                      </td>
                    </ng-container>


                   <!-- Symbol Column -->
                   <ng-container matColumnDef="nivelTomaDecisionesE">
                    <th class="color3Head text-center"  mat-header-cell *matHeaderCellDef><b> Niveles Toma de decisiones</b> </th>
                    <td class="color3 text-center" mat-cell *matCellDef="let element">
                      <div *ngIf="element.nivelTomaDecisionesE; else elseBlock">
                        {{element.info_TomaDeci}}
                      </div>
                      <ng-template #elseBlock>
                        Aun no completado
                      </ng-template>
                    </td>
                   </ng-container>


                    <!-- Symbol Column -->
                    <ng-container matColumnDef="autonomiaE">
                    <th class="color4Head text-center"  mat-header-cell *matHeaderCellDef><b> Autonomia</b> </th>
                    <td class="color4 text-center" mat-cell *matCellDef="let element">
                      <div *ngIf="element.autonomiaE; else elseBlock">
                        {{element.info_Autonomia}}
                      </div>
                      <ng-template #elseBlock>
                        Aun no completado
                      </ng-template>
                    </td>
                    </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No se encontraron datos  "{{input.value}}"</td>
                  </tr>
                  </table>

             <!--PAGINACION-->
             <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>



          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
     </div>
    </div>
    </div>
  </section>

