<div class="content-wrapper">   

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
                <section class="vh-50" style="background-color: #f4f5f7;">
                        <div class="container pt-5 h-100" >
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-lg-12 mb-4 mb-lg-0">
                                <div class="card">
                                    <div class="card-body" style="text-align:center ;">
                                      <h1>Cuestionario Toma de decisiones</h1>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                  </section>
            </div>          
          </div>
        </div><!-- /.container-fluid -->
      </section>



      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
                <section class="vh-50" style="background-color: #f4f5f7;">
                        <div class="container pt-3 h-100" >
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-lg-10 mb-4 mb-lg-0">
                                <div class="card">
                                    <div class="card-header text-center">
                                    <p style="text-align:justify ;">
                                       
                                        A  continuación,  se  presentan  una  relación  de  frases  y  preguntas  sobre  aspectos relacionados con la forma de actuar frente a problemas diversos.
                                        Marca con un aspa (X) la alternativa que más se acerca a tu forma de actuar para tomar decisiones frente a esos problemas.<br>
                                        Responde por favor del modo más sincero posible, sin pensar demasiado por la respuesta que vayas a dar. Gracias.<br>                                        
                                        Las alternativas de respuesta son:<br>
                                        0 = Nunca<br>
                                        1 = A veces<br>
                                        2 = Con mucha frecuencia<br>
                                        3 = Siempre
                                        
                                    </p>                   
                                    </div>
                
                                    <div class="card-body">                       
                                        <form>
                                            <!--PREGUNTA 1-->    
                                            <label>1. Cuando reconozco que tengo un problema, me siento capaz de enfrentarlo.<span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                              <div class="row">                               
                                                <div class="col-sm-10">
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta1" id="gridRadios1" value="option1">
                                                    <label class="form-check-label" for="gridRadios1">
                                                      Nunca
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta1" id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                      A veces
                                                    </label>
                                                  </div>     
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta1" id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                      Con mucha frecuencia
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta1" id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                      Siempre
                                                    </label>
                                                  </div>                             
                                                </div>
                                              </div>
                                            </fieldset> 
                
                                            <!--PREGUNTA 2-->
                                            <label>2. Evalúo todos los aspectos sobre el problema que debo o quiero resolver.<span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                                <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta2" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Nunca
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta2" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          A veces
                                                        </label>
                                                      </div>     
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta2" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Con mucha frecuencia
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta2" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Siempre
                                                        </label>
                                                      </div>                             
                                                    </div>
                                                  </div>
                                            </fieldset>  

                                            <!--PREGUNTA 3-->
                                            <label>3. Cuando tomo una decisión, busco tener claras mis metas y objetivos personales.<span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                                <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta3" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Nunca
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta3" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          A veces
                                                        </label>
                                                      </div>     
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta3" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Con mucha frecuencia
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta3" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Siempre
                                                        </label>
                                                      </div>                             
                                                    </div>
                                                  </div>
                                            </fieldset>  

                                            <!--PREGUNTA 4-->
                                            <label>4. Cuando tengo un problema pienso y busco tantas alternativas de solución como sea posible.<span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                                <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta4" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Nunca
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta4" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          A veces
                                                        </label>
                                                      </div>     
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta4" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Con mucha frecuencia
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta4" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Siempre
                                                        </label>
                                                      </div>                             
                                                    </div>
                                                  </div>
                                            </fieldset> 

                                             <!--PREGUNTA 5-->
                                             <label>5. Evalúo las consecuencias de cada alternativa de solución.<span style="color:red ;">*</span></label>                    
                                             <fieldset class="form-group">
                                                <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta5" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Nunca
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta5" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          A veces
                                                        </label>
                                                      </div>     
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta5" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Con mucha frecuencia
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta5" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Siempre
                                                        </label>
                                                      </div>                             
                                                    </div>
                                                  </div>
                                             </fieldset> 

                                               <!--PREGUNTA 6-->
                                               <label>6. Al tomar una decisión, soy consciente de cuáles son los posibles riesgos y beneficios de cada alternativa de solución.<span style="color:red ;">*</span></label>                    
                                               <fieldset class="form-group">
                                                <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta6" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Nunca
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta6" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          A veces
                                                        </label>
                                                      </div>     
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta6" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Con mucha frecuencia
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta6" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Siempre
                                                        </label>
                                                      </div>                             
                                                    </div>
                                                  </div>
                                               </fieldset> 

                                               <!--PREGUNTA 7-->
                                               <label>7. Sé dónde buscar mayor información y ayuda para analizar mis alternativas de solución frente a un problema determinado.<span style="color:red ;">*</span></label>                    
                                               <fieldset class="form-group">
                                                <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta7" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Nunca
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta7" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          A veces
                                                        </label>
                                                      </div>     
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta7" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Con mucha frecuencia
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta7" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Siempre
                                                        </label>
                                                      </div>                             
                                                    </div>
                                                  </div>
                                               </fieldset> 

                                                <!--PREGUNTA 8-->
                                                <label>8. Elijo la mejor alternativa evaluada y la pongo en práctica.<span style="color:red ;">*</span></label>                    
                                                <fieldset class="form-group">
                                                    <div class="row">                               
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta8" id="gridRadios1" value="option1">
                                                            <label class="form-check-label" for="gridRadios1">
                                                              Nunca
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta8" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              A veces
                                                            </label>
                                                          </div>     
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta8" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Con mucha frecuencia
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta8" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Siempre
                                                            </label>
                                                          </div>                             
                                                        </div>
                                                      </div>
                                                </fieldset> 

                                                <!--PREGUNTA 9-->
                                                <label>9. Cuando tomo una decisión, hago todo lo que esté a mi alcance para ponerla en práctica.<span style="color:red ;">*</span></label>                    
                                                <fieldset class="form-group">
                                                    <div class="row">                               
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta9" id="gridRadios1" value="option1">
                                                            <label class="form-check-label" for="gridRadios1">
                                                              Nunca
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta9" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              A veces
                                                            </label>
                                                          </div>     
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta9" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Con mucha frecuencia
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta9" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Siempre
                                                            </label>
                                                          </div>                             
                                                        </div>
                                                      </div>
                                                </fieldset> 

                                                 <!--PREGUNTA 10-->
                                                 <label>10. Luego de poner en práctica la decisión que he tomado, evalúo los resultados para comprobar que fue la más adecuada.<span style="color:red ;">*</span></label>                    
                                                 <fieldset class="form-group">
                                                    <div class="row">                               
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta10" id="gridRadios1" value="option1">
                                                            <label class="form-check-label" for="gridRadios1">
                                                              Nunca
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta10" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              A veces
                                                            </label>
                                                          </div>     
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta10" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Con mucha frecuencia
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta10" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Siempre
                                                            </label>
                                                          </div>                             
                                                        </div>
                                                      </div>
                                                 </fieldset> 

                                                <!--PREGUNTA 11-->
                                                <label>11. Asumo la responsabilidad de las decisiones tomadas.<span style="color:red ;">*</span></label>                    
                                                <fieldset class="form-group">
                                                    <div class="row">                               
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta11" id="gridRadios1" value="option1">
                                                            <label class="form-check-label" for="gridRadios1">
                                                              Nunca
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta11" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              A veces
                                                            </label>
                                                          </div>     
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta11" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Con mucha frecuencia
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta11" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Siempre
                                                            </label>
                                                          </div>                             
                                                        </div>
                                                      </div>
                                                </fieldset>    
                                                    
                                                                                            
                                            <div class="form-group row">
                                              <div class="col-sm-10">
                                                <button type="submit" routerLink="/dashboard/pretest" class="btn btn-primary">Enviar</button>
                                              </div>
                                            </div>
                                          </form>
                
                                    </div>
                                
                                </div>  
                            </div>
                          </div>
                        </div>
                  </section>
            </div>          
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
</div>
