<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-12">
              <div class="container mt-4">
                  <nav class="navbar navbar-light bg-light justify-content-between">
                      <a class="navbar-brand"></a>
                      <form class="form-inline">
                        <button type="button" class="btn btn-secondary my-2 my-sm-0" routerLink="#">Regresar</button>
                      </form>
                    </nav>
                      <!-- DATOS DEL PACIENTE -->
                      <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-12">
                                <div class="card-block">
                                    <h3 class="m-b-20 p-b-5 b-b-default f-w-600 " style="text-align:center ;">Resumen del Usuario&nbsp;<i class="fas fa-file"></i></h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Nombre Completo </p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteNombres + ' ' + objAPIRpta_objPacienteFullInfo.pacienteApellidoPaterno + ' ' + objAPIRpta_objPacienteFullInfo.pacienteApellidoMaterno}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">DNI</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteDni}}</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Fecha de naciemiento</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteFechaNacimiento}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Telefono</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteTelefono}}</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Direccion</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteDireccion}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Correo</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteCorreo}}</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Tipo de violencia</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteTipoViolencia}}</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Riesgo</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteRiesgo}}</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Año de evaluacion</p>
                                            <h6 class="text-muted f-w-400">{{objAPIRpta_objPacienteFullInfo.pacienteAnoDeEvaluacion}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN DE DATOS DEL PACIENTE -->
               </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content mb-5">
        <div class="container-fluid">
            <div class="container">
                <div class="row">

                  <div class="col-sm">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-12">
                                <div class="card-block">
                                    <h3 class="m-b-20 p-b-5 b-b-default f-w-600" style="text-align:center ;">PreTest&nbsp;<i class="fas fa-file-alt"></i></h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Etapa de motivacion al cambio: </p>

                                            <div *ngIf="objAPIRpta_objPacienteFullInfo.examenPreTestMotivacionAlCambioCompletado; else elseBlock">
                                              <h6 class="f-w-400" style="color: green;">Mantenimiento</h6><span style="color: green;">(Verdadero)</span>
                                            </div>
                                            <ng-template #elseBlock>
                                              <h6 class="f-w-400" style="color: red;">Incompleto</h6><span style="color: red;"><i class="fa fa-cross"></i></span>
                                            </ng-template>

                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Copersmith (Autoestima):</p>
                                            <h6 class="text-muted f-w-400">Medio bajo</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Niveles Toma de decisiones:</p>
                                            <h6 class="text-muted f-w-400">Incipiente</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Autonomia:</p>
                                            <h6 class="text-muted f-w-400">Negativo</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>


                  <div class="col-sm">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-12">
                                <div class="card-block">
                                    <h3 class="m-b-20 p-b-5 b-b-default f-w-600" style="text-align:center ;">PostTest&nbsp;<i class="fas fa-file-alt"></i></h3>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Etapa de motivacion al cambio: </p>
                                            <h6 class="text-muted f-w-400">Mantenimiento</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Copersmith (Autoestima):</p>
                                            <h6 class="text-muted f-w-400">Medio bajo</h6>
                                        </div>
                                    </div>
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Niveles Toma de decisiones:</p>
                                            <h6 class="text-muted f-w-400">Incipiente</h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Autonomia:</p>
                                            <h6 class="text-muted f-w-400">Negativo</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="container">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-12">
                                <div class="card-block">
                                    <h3 class="m-b-20 p-b-5 b-b-default f-w-600" style="text-align:center ;">Interpretación&nbsp;<i class="fas fa-comment-medical"></i></h3>
                                    <mat-form-field class="example-full-width ancho">
                                        <mat-label>Escribir Interpretacion</mat-label>
                                        <textarea matInput></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
              </div>
        </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


