<div class="mat-elevation-z8">
  <div class="table-responsive-sm">
    <table class="table  table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">P1</th>
          <th class="text-center" scope="col">P2</th>
          <th class="text-center" scope="col">P3</th>
          <th class="text-center" scope="col">P4</th>
          <th class="text-center" scope="col">P5</th>
          <th class="text-center" scope="col">P6</th>
          <th class="text-center" scope="col">P7</th>
          <th class="text-center" scope="col">P8</th>
          <th class="text-center" scope="col">P9</th>
          <th class="text-center" scope="col">P10</th>
          <th class="text-center" scope="col">P11</th>
          <th class="text-center" scope="col">P12</th>
          <th class="text-center" scope="col">P13</th>
          <th class="text-center" scope="col">P14</th>
          <th class="text-center" scope="col">P15</th>
          <th class="text-center" scope="col">P16</th>
          <th class="text-center" scope="col">P17</th>
          <th class="text-center" scope="col">P18</th>
          <th class="text-center" scope="col">P19</th>
          <th class="text-center" scope="col">P20</th>
          <th class="text-center" scope="col">P21</th>
          <th class="text-center" scope="col">P22</th>
          <th class="text-center" scope="col">P23</th>
          <th class="text-center" scope="col">P24</th>
          <th class="text-center" scope="col">P25</th>
          <th class="text-center" scope="col">P26</th>
          <th class="text-center" scope="col">P27</th>
          <th class="text-center" scope="col">P28</th>
          <th class="text-center" scope="col">P29</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p01}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p02}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p03}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p04}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p05}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p06}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p07}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p08}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p09}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p10}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p11}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p12}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p13}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p14}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p15}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p16}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p17}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p18}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p19}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p20}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p21}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p22}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p23}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p24}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p25}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p26}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p27}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p28}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPostRespuestasFullInfo.p29}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div><br>
