<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <section class="vh-50" style="background-color: #f4f5f7;">
              <div class="container py-5 h-100" >
                <div class="row d-flex justify-content-center align-items-center h-100">
                  <div class="col col-lg-12 mb-4 mb-lg-0">
                    <div class="card mb-3" style="border-radius: .5rem;">
                      <div class="row g-0">                                
                        <div class="col-md-12">
                          <div class="card-body p-4">
                            <h6>Paciente</h6>
                            <hr class="mt-0 mb-4">
                            <div class="row pt-1">
                              <div class="col-4 mb-3">
                                <h6>Nombre Completo</h6>
                                <p class="text-muted">Carla Maria Rojas Mendoza</p>
                              </div>
                              <div class="col-4 mb-3">
                                <h6>Dni</h6>
                                <p class="text-muted">79635842</p>
                              </div>
                              <div class="col-4 mb-3">
                                <h6>Resultado</h6>
                                <p class="text-muted">BAJO</p>
                              </div>
                            </div>                                                 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </section>
          </div>          
        </div>
      </div><!-- /.container-fluid -->   
    </section>
  
  
  
  
    <section class="content">
      <div class="container-fluid">
        <section class="content mt-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                   
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="mat-elevation-z8">
      
                          <table class="table-responsive" mat-table [dataSource]="dataSource" >
      
                            <!-- Position Column -->
                              <ng-container matColumnDef="controlPositivo">
                                <th mat-header-cell *matHeaderCellDef>Control positivo</th>
                                <td mat-cell *matCellDef="let element"> {{element.controlPositivo}} </td>
                              </ng-container>
  
                              <!-- Name Column -->
                              <ng-container matColumnDef="controlNegativo">
                                <th mat-header-cell *matHeaderCellDef>Control Negativo</th>
                                <td mat-cell *matCellDef="let element"> {{element.controlNegativo}} </td>
                              </ng-container>
  
                              <!-- Weight Column -->
                              <ng-container matColumnDef="deseoControl">
                                <th mat-header-cell *matHeaderCellDef>Deseo Control</th>
                                <td mat-cell *matCellDef="let element"> {{element.deseoControl}} </td>
                              </ng-container>
  
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="controlInterno">
                                <th mat-header-cell *matHeaderCellDef>Control Interno </th>
                                <td mat-cell *matCellDef="let element"> {{element.controlInterno}} </td>
                              </ng-container>
  
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="controlExterno">
                                  <th mat-header-cell *matHeaderCellDef>Control Externo</th>
                                  <td mat-cell *matCellDef="let element"> {{element.controlExterno}} </td>
                                </ng-container>
  
                                <!-- Symbol Column -->
                              <ng-container matColumnDef="sensacionControl">
                                  <th mat-header-cell *matHeaderCellDef>Sensacion de Control</th>
                                  <td mat-cell *matCellDef="let element"> {{element.sensacionControl}} </td>
                                </ng-container>
  
                                <!-- Symbol Column -->
                              <ng-container matColumnDef="deseo">
                                <th mat-header-cell *matHeaderCellDef>Deseo</th>
                                <td mat-cell *matCellDef="let element"> {{element.deseo}} </td>
                              </ng-container>
  
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="agenteControlInterno">
                                <th mat-header-cell *matHeaderCellDef>Agente de Control Interno</th>
                                <td mat-cell *matCellDef="let element"> {{element.agenteControlInterno}} </td>
                              </ng-container>
  
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="agenteControlExterno">
                                <th mat-header-cell *matHeaderCellDef>Agente de Control Externo</th>
                                <td mat-cell *matCellDef="let element"> {{element.agenteControlExterno}} </td>
                              </ng-container>
  
  
  
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        
                      
                          </table>
      
                    
                    
                    </div>
                    
                  
                   
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
             </div>
            </div>
            </div>
          </section>
  
   
      </div>
      <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand"></a>
        <div class="form-inline">          
          <button type="button" class="btn btn-secondary my-2 my-sm-0" routerLink="/dashboard/protest">Regresar</button>          
        </div>
      </nav> 
    </section>   
  
    </div>
