<section class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
              </mat-form-field>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="mat-elevation-z8">

                    <table class="table-responsive" mat-table [dataSource]="dataSource" >

                      <!-- Position Column -->
                      <ng-container matColumnDef="dni">
                      <th mat-header-cell *matHeaderCellDef class="text-center"> Dni </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.dni}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="nombre">
                      <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.nombre}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="apellidos">
                      <th mat-header-cell *matHeaderCellDef class="text-center"> Apellidos </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.apellidos}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="edad">
                      <th class="anchoColumnaEdad" mat-header-cell *matHeaderCellDef class="text-center"> Edad </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.edad}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="preTest">
                      <th mat-header-cell *matHeaderCellDef class="text-center"> Pre test </th>
                      <td mat-cell *matCellDef="let element" class="text-center"> {{element.preTest}} </td>
                    </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="proTest">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Post test </th>
                        <td mat-cell *matCellDef="let element" class="text-center"> {{element.proTest}} </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="formularioPre">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Formulario PreTest </th>
                        <td mat-cell *matCellDef="let element" class="text-center">

                          <div *ngIf="element.preTest==='Completo'; else elseBlock">
                            <button type="button" class="btn btn-success" routerLink="/dashboard/{{g_TablaPacienteComponent_PsicologoId}}/pretest/{{element.casoPacienteId}}">PreTest</button><!--Cuando es true-->
                          </div>
                          <ng-template #elseBlock>
                            <button type="button" class="btn btn-danger" routerLink="/dashboard/{{g_TablaPacienteComponent_PsicologoId}}/pretest/{{element.casoPacienteId}}">PreTest</button><!--Cuando es false-->
                          </ng-template>

                        </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="formularioPro">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Formulario PostTest </th>
                        <td mat-cell *matCellDef="let element" class="text-center">

                          <div *ngIf="element.proTest==='Completo'; else elseBlock">
                            <button type="button" class="btn btn-success" routerLink="/dashboard/{{g_TablaPacienteComponent_PsicologoId}}/protest/{{element.casoPacienteId}}" >PostTest</button><!--cuando es true-->
                          </div>
                          <ng-template #elseBlock>
                            <button type="button" class="btn btn-warning" routerLink="/dashboard/{{g_TablaPacienteComponent_PsicologoId}}/protest/{{element.casoPacienteId}}" >PosTest</button><!--Cuando es false-->
                          </ng-template>
                        </td>
                      </ng-container>


                      <ng-container matColumnDef="resumen">
                        <th mat-header-cell *matHeaderCellDef class="text-center"> Resumen</th>
                        <td mat-cell *matCellDef="let element" class="text-center" >
                          <button type="button" class="btn btn-primary" routerLink="/dashboard/{{g_TablaPacienteComponent_PsicologoId}}/ver-resultados/{{element.casoPacienteId}}" >Ver Resumen</button>
                        </td>
                      </ng-container>



                      <!-- Symbol Column -->
                      <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef class="text-center"><i class="fas fa-mouse-pointer"></i></th>
                        <td mat-cell *matCellDef="let element" class="text-center">
                          <a class="pointer" style="color: #1f516f;" matTooltip="Editar usuario">
                            <mat-icon (click)="openDialog()">edit</mat-icon>
                          </a>
                          <a class="pointer" style="color: #e15639;" matTooltip="Eliminar usuario">
                            <mat-icon>delete</mat-icon>
                          </a>
                        </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No se encontraron datos "{{input.value}}"</td>
                    </tr>
                    </table>

               <!--PAGINACION-->
               <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>



            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
       </div>
      </div>
      </div>
    </section>

