<mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>


<mat-dialog-content class="mat-typography">
<h2 mat-dialog-title class="text-center">Editar Psicologa</h2>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" #pNombre [value]="ApiFullobjPsicologoInfo.rpta.nombres">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput type="text" #pApePaterno [value]="ApiFullobjPsicologoInfo.rpta.apellidoPaterno">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Materno</mat-label>
            <input matInput type="text" #pApeMaterno [value]="ApiFullobjPsicologoInfo.rpta.apellidoMaterno">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Dni</mat-label>
          <input matInput type="text" #pDni [value]="ApiFullobjPsicologoInfo.rpta.dni">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Cargo</mat-label>
          <mat-select #pCargo [value]="ApiFullobjPsicologoInfo.rpta.cargoId">
            <mat-option *ngFor="let cargo of cargos" [value]="cargo.value">
              {{cargo.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput type="email" #pCorreo [value]="ApiFullobjPsicologoInfo.rpta.correo">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Distrito</mat-label>
          <mat-select #pDistrito>
            <mat-option *ngFor="let distrito of distritos" [value]="distrito.value">
              {{distrito.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select #pProvincia>
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.value">
              {{provincia.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Departamento</mat-label>
          <mat-select #pDepartamento>
            <mat-option *ngFor="let departamento of departamentos" [value]="departamento.value">
              {{departamento.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial (click)="EditarPsicologo()">Guardar</button>
</mat-dialog-actions>
