<mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>


<mat-dialog-content class="mat-typography">
<h2 mat-dialog-title class="text-center">Editar Psicologa</h2>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Materno</mat-label>
            <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput type="date">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Dni</mat-label>
            <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input matInput type="text">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput type="text">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput type="email">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Numero Colegiatura</mat-label>
            <input matInput type="number"  #pTelefono>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Especialidad</mat-label>
            <input matInput type="text" #pCorreo>
        </mat-form-field>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions >
  <button class="btn btn-primary" [mat-dialog-close]="true" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
