

<div class="content-wrapper">
    

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1 class="text-center mt-5 ">Listado de Psicologos&nbsp;<i class="fas fa-list"></i></h1>
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand"></a>
            <form class="form-inline">
              <button type="button" class="btn btn-secondary my-2 my-sm-0 mr-1" routerLink="/dashboard/1/crear-psicologo"><i class="fas fa-user-plus"></i>&nbsp;Agregar Psicologo</button>
            </form>
          </nav>
      <div class="container-fluid">
     
      </div><!-- /.container-fluid -->      
    </section>

    <section class="content">
      <div class="container-fluid">
        <app-tabla-lista-psicologo></app-tabla-lista-psicologo>
      </div>
    </section>

    </div>

