<section class="content mt-3">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="" #input>
              </mat-form-field>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="mat-elevation-z8">

                    <table class="table-responsive" mat-table [dataSource]="ApiRptaFullTablaPsicologos.rpta" >

                      <!-- Position Column -->
                      <ng-container matColumnDef="dni">
                      <th class="text-center" mat-header-cell *matHeaderCellDef><b>Dni</b></th>
                      <td class="text-center" mat-cell *matCellDef="let element"> {{element.dni}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="nombre">
                      <th class="text-center" mat-header-cell *matHeaderCellDef><b>Nombre</b></th>
                      <td class="text-center" mat-cell *matCellDef="let element"> {{element.nombres}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="apellidos">
                      <th class="text-center" mat-header-cell *matHeaderCellDef><b> Apellidos </b></th>
                      <td class="text-center" mat-cell *matCellDef="let element"> {{element.apellidoPaterno + ' ' + element.apellidoMaterno}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="zona">
                      <th class="anchoColumnaEdad text-center" mat-header-cell *matHeaderCellDef><b>Distrito de Intervención</b></th>
                      <td class="text-center" mat-cell *matCellDef="let element"> {{element.telefono}} </td>
                    </ng-container>


                      <!-- Symbol Column -->
                      <ng-container matColumnDef="formularioPro">
                        <th class="text-center" mat-header-cell *matHeaderCellDef><b> Lista Usuarias </b></th>
                        <td class="text-center" mat-cell *matCellDef="let element">
                          <button type="button" class="btn btn-warning" (click)="RedireccionarALaPaginaDePacientes(element.id)" >Ver Usuarias</button>
                        </td>
                      </ng-container>

                      <!-- Symbol Column -->
                      <ng-container matColumnDef="acciones">
                        <th mat-header-cell class="text-center" *matHeaderCellDef><i class="fas fa-mouse-pointer"></i></th>
                        <td class="text-center" mat-cell *matCellDef="let element">
                          <a class="pointer" style="color: #1f516f;" matTooltip="Editar psicologo">
                            <mat-icon (click)="openDialog()">edit</mat-icon>
                          </a>
                          <!--<a class="pointer" style="color: #e15639;" matTooltip="eliminar psicologo">
                            <mat-icon>delete</mat-icon>
                          </a>-->
                        </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No se encontraron datos "{{input.value}}"</td>
                    </tr>
                    </table>

               <!--PAGINACION-->
               <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>



            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
       </div>
      </div>
      </div>
    </section>
