<div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <div class="container mt-5">
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand"></a>
                    <form class="form-inline">
                      <button type="button" class="btn btn-secondary my-2 my-sm-0" routerLink="/dashboard/{{g_FromUser_PsicologoId}}/usuarios">Regresar</button>
                    </form>
                  </nav>
                    <!-- DATOS DEL PACIENTE -->
                    <div class="card user-card-full">
                      <div class="row m-l-0 m-r-0">
                          <div class="col-sm-12">
                              <div class="card-block">
                                  <h6 class="m-b-20 p-b-5 b-b-default f-w-600" style="text-align:center ;">Información Usuaria PRE TEST</h6>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Nombre Completo </p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.nombres + ' ' + objPacienteFullInfo.apellidoPaterno + ' ' + objPacienteFullInfo.apellidoMaterno}}</h6>
                                      </div>
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">DNI</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.dni}}</h6>
                                      </div>
                                  </div>
                                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Fecha de naciemiento</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.fechaNacimiento}}</h6>
                                      </div>
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Telefono</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.telefono}}</h6>
                                      </div>
                                  </div>
                                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Direccion</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.direccionUbigeo}}</h6>
                                      </div>
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Correo</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.correo}}</h6>
                                      </div>
                                  </div>
                                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Tipo de violencia</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.tipoViolencia}}</h6>
                                      </div>
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Riesgo</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.riesgo}}</h6>
                                      </div>
                                  </div>
                                  <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                  <div class="row">
                                      <div class="col-sm-6">
                                          <p class="m-b-10 f-w-600">Año de evaluacion</p>
                                          <h6 class="text-muted f-w-400">{{objPacienteFullInfo.anoDeEvaluacion}}</h6>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- FIN DE DATOS DEL PACIENTE -->
             </div>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>














    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <div class="container mb-3">
              <div class="row">
                  <div class="col-md-4">
                      <div class="card p-3 mb-2">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                  <div class="icon"> <i class="nav-icon fas fa-poll-h"></i> </div>
                                  <div class="ms-2 ml-2 c-details">
                                      <h6 class="mb-0">Cuestionario</h6>
                                  </div>
                              </div>
                              <div class="badge"> <span>PreContemplativo</span> </div>
                          </div>
                          <div class="mt-5">
                              <h3 class="heading">Escala de Motivación <br> para el Cambio</h3>
                              <div class="mt-5">
                                  <button type="button" class="btn btn-secondary mr-5" routerLink="/dashboard/{{g_FromUser_PsicologoId}}/motivacion-pre/{{g_FromUser_PacienteId}}">Ir a cuestionario</button>
                                  <button type="button" class="btn btn-secondary bottonResultados" routerLink="/dashboard/{{g_FromUser_PsicologoId}}/resultados-motivacion-pre/{{g_FromUser_PacienteId}}">Ver Resultados</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card p-3 mb-2">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                  <div class="icon"> <i class="nav-icon fas fa-poll-h"></i> </div>
                                  <div class="ms-2 ml-2 c-details">
                                      <h6 class="mb-0">Cuestionario</h6>
                                  </div>
                              </div>
                              <div class="badge"> <span>Bajo</span> </div>
                          </div>
                          <div class="mt-5">
                              <h3 class="heading">Inventario de <br> Autoestima</h3>
                              <div class="mt-5">
                                  <button type="button" class="btn btn-secondary mr-5" routerLink="/dashboard/{{g_FromUser_PsicologoId}}/autoestima-pre/{{g_FromUser_PacienteId}}">Ir a cuestionario</button>
                                  <button type="button" class="btn btn-secondary bottonResultados" routerLink="/dashboard/{{g_FromUser_PsicologoId}}/resultados-autoestima-pre/{{g_FromUser_PacienteId}}">Ver Resultados</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card p-3 mb-2">
                          <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row align-items-center">
                                  <div class="icon"> <i class="nav-icon fas fa-poll-h"></i> </div>
                                  <div class="ms-2 ml-2 c-details">
                                      <h6 class="mb-0">Cuestionario</h6>
                                  </div>
                              </div>
                              <div class="badge"> <span>Positivo</span> </div>
                          </div>
                          <div class="mt-5">
                              <h3 class="heading">Inventiario de <br> Autonomia </h3>
                              <div class="mt-5">
                                  <button type="button" class="btn btn-secondary mr-5" routerLink="/dashboard/{{g_FromUser_PsicologoId}}/autonomia-pre/{{g_FromUser_PacienteId}}" >Ir a cuestionario</button>
                                  <button type="button" class="btn btn-secondary botonresul " routerLink="/dashboard/{{g_FromUser_PsicologoId}}/resultados-autonomia-pre/{{g_FromUser_PacienteId}}">Ver Resultados</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <div class="d-flex flex-row align-items-center">
                                <div class="icon"> <i class="nav-icon fas fa-poll-h"></i> </div>
                                <div class="ms-2 ml-2 c-details">
                                    <h6 class="mb-0">Cuestionario</h6>
                                </div>
                            </div>
                            <div class="badge"> <span>En proceso</span> </div>
                        </div>
                        <div class="mt-5">
                            <h3 class="heading">Test de toma<br> De decisiones</h3>
                            <div class="mt-5">
                                <button type="button" class="btn btn-secondary mr-5" routerLink="/dashboard/{{g_FromUser_PsicologoId}}/decisiones-pre/{{g_FromUser_PacienteId}}">Ir a cuestionario</button>
                                <button type="button" class="btn btn-secondary botonresul " routerLink="/dashboard/{{g_FromUser_PsicologoId}}/resultados-decisiones-pre/{{g_FromUser_PacienteId}}">Ver Resultados</button>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
          </div>



          </div>
        </div>
      </div>
    </section>






   </div>


