<!--<div class="content-wrapper">
    <form>
      <h1>Registar Psicologo</h1>

      <fieldset>
        <legend><span class="number">1</span>Informacion Basica</legend>
        <label>Nombre:</label>
        <input type="text" #pNombres>

        <label>Apellido Paterno:</label>
        <input type="text" #pApellidoPaterno>

        <label>Apellido Materno:</label>
        <input type="text" #pApellidoMaterno>

        <label>Fecha de nacimiento:</label>
        <input type="date" #pFechaNacimiento>

        <label>Dni:</label>
        <input type="text" #pDni>

        <legend><span class="number">2</span>Datos secundarios</legend>

        <label>Direccion:</label>
        <input type="text" #pDireccioUbigeo>

        <label>Telefono:</label>
        <input type="text" #pTelefono>

        <label>Correo:</label>
        <input type="email" #pCorreo>


      </fieldset>
      <button (click)="RegistrarPaciente(pNombres.value , pApellidoPaterno.value ,pApellidoMaterno.value ,pFechaNacimiento.value ,pDni.value ,pTelefono.value ,pDireccioUbigeo.value ,pCorreo.value)">Registrar</button>
    </form>
  </div>-->


  <mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>


  <mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title class="text-center">Agregar Psicologa</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" #pNombres>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput type="text" #pApellidoPaterno>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Materno</mat-label>
            <input matInput type="text" #pApellidoMaterno>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Dni</mat-label>
            <input matInput type="number" [maxLength]="8"  #pDni>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Cargo</mat-label>
          <mat-select #pCargo>
            <mat-option *ngFor="let cargo of ApiFullobjListarCargo.rpta" [value]="cargo.id">
              {{cargo.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput type="email" #pCorreo>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Distrito</mat-label>
          <mat-select>
            <mat-option *ngFor="let distrito of distritos" [value]="distrito.value">
              {{distrito.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select>
            <mat-option *ngFor="let provincia of provincias" [value]="provincia.value">
              {{provincia.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Departamento</mat-label>
          <mat-select>
            <mat-option *ngFor="let departamento of departamentos" [value]="departamento.value">
              {{departamento.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Ubigeo</mat-label>
          <input matInput type="text" #pUbigeo>
       </mat-form-field>
      </div>
    </div>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions >
  <button class="btn btn-primary" (click)="RegistrarPsicologo(pNombres.value , pApellidoPaterno.value ,pApellidoMaterno.value ,pDni.value  ,pCorreo.value,pCargo.value,pUbigeo.value)" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
