  <mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>


  <mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title class="text-center">Agregar Psicologa</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" #pNombres maxlength="32" [formControl]="Nombre" required>
            <mat-error *ngIf="Nombre.invalid">{{getErrorMessageNombre()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput type="text" #pApellidoPaterno maxlength="32" [formControl]="ApellidoPaterno" required>
            <mat-error *ngIf="ApellidoPaterno.invalid">{{getErrorMessageApellidoPaterno()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Materno</mat-label>
            <input matInput type="text" #pApellidoMaterno maxlength="32" [formControl]="ApellidoMaterno" required>
            <mat-error *ngIf="ApellidoMaterno.invalid">{{getErrorMessageApellidoMaterno()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Dni</mat-label>
            <input matInput type="text" #pDni maxlength="15" [formControl]="dni">
            <mat-hint align="start">15 carácteres max</mat-hint>
          <mat-hint align="end">{{dni.value?.length || 0}}/15</mat-hint>
          <mat-error *ngIf="dni.invalid">{{getErrorMessageDni()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Cargo</mat-label>
          <mat-select #pCargo [formControl]="Cargo" required>
            <mat-option *ngFor="let cargo of ApiFullobjListarCargo.rpta" [value]="cargo.id">
              {{cargo.nombre}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Cargo.invalid">{{getErrorMessageCargo()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput type="email" #pCorreo [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Departamento</mat-label>
          <mat-select [value]="cbo_DepartamentoSelected" [formControl]="Departamento" required>
            <mat-option *ngFor="let departamento of listDepartamentosForFilter" [value]="departamento.depaId"  (onSelectionChange)="onChange_DepartamentoSeleccionado(departamento.depaId)">
              {{departamento.nombreDepa}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Departamento.invalid">{{getErrorMessageDepartamento()}}</mat-error>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select [disabled]="CBOPrinvinciaEstaDesactivado" [value]="cbo_ProvinciaSelected" [formControl]="Provincia" required>
            <mat-option *ngFor="let provincia of listProvinciasForFilter" [value]="provincia.provId" (onSelectionChange)="onChange_ProvinciaSeleccionado(provincia.provId)">
              {{provincia.nombreProv}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Provincia.invalid">{{getErrorMessageProvincia()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Distrito</mat-label>
          <mat-select [disabled]="CBODistritoEstaDesactivado" [value]="cbo_DistritoSelected" #pUbigeo [formControl]="Distrito" required>
            <mat-option *ngFor="let distrito of listDistritosForFilter" [value]="distrito.distId">
              {{distrito.nombreDist}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Distrito.invalid">{{getErrorMessageDistrito()}}</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions >
  <button class="btn btn-primary" (click)="RegistrarPsicologo(pNombres.value , pApellidoPaterno.value ,pApellidoMaterno.value ,pDni.value  ,pCorreo.value,pCargo.value,pUbigeo.value)" cdkFocusInitial>Guardar</button>
  </mat-dialog-actions>
