<!--<div class="content-wrapper">
    <form>
      <h1>Registar Psicologo</h1>

      <fieldset>
        <legend><span class="number">1</span>Informacion Basica</legend>
        <label>Nombre:</label>
        <input type="text" #pNombres>

        <label>Apellido Paterno:</label>
        <input type="text" #pApellidoPaterno>

        <label>Apellido Materno:</label>
        <input type="text" #pApellidoMaterno>

        <label>Fecha de nacimiento:</label>
        <input type="date" #pFechaNacimiento>

        <label>Dni:</label>
        <input type="text" #pDni>

        <legend><span class="number">2</span>Datos secundarios</legend>

        <label>Direccion:</label>
        <input type="text" #pDireccioUbigeo>

        <label>Telefono:</label>
        <input type="text" #pTelefono>

        <label>Correo:</label>
        <input type="email" #pCorreo>


      </fieldset>
      <button (click)="RegistrarPaciente(pNombres.value , pApellidoPaterno.value ,pApellidoMaterno.value ,pFechaNacimiento.value ,pDni.value ,pTelefono.value ,pDireccioUbigeo.value ,pCorreo.value)">Registrar</button>
    </form>
  </div>-->


  <mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>


  <mat-dialog-content class="mat-typography">
  <h2 mat-dialog-title class="text-center">Agregar Psicologa</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" #pNombres>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput type="text" #pApellidoPaterno>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Materno</mat-label>
            <input matInput type="text" #pApellidoMaterno>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput type="date" #pFechaNacimiento>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Dni</mat-label>
            <input matInput type="text" #pDni>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input matInput type="text" #pDireccioUbigeo>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput type="text"  #pTelefono>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput type="email" #pCorreo>
        </mat-form-field>
      </div>
    </div>
  </div>
  </mat-dialog-content>
  <mat-dialog-actions >
  <!--<button class="btn btn-primary" (click)="RegistrarPaciente(pNombres.value , pApellidoPaterno.value ,pApellidoMaterno.value ,pFechaNacimiento.value , pDni.value ,pTelefono.value ,pDireccioUbigeo.value ,pCorreo.value,pTipoViolencia.value,pRiesgo.value,pAnoDeEvaluacion.value,pEntidadProblema.value,pModalidadAdministrativo.value)" cdkFocusInitial>Guardar</button>-->
  </mat-dialog-actions>
