<mat-dialog-actions align="end">
    <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>


<mat-dialog-content class="mat-typography">
<h2 mat-dialog-title class="text-center">Editar Usuario</h2>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" #pNombres [value]="ApiFullobjPacienteInfo.rpta.nombres">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Paterno</mat-label>
            <input matInput type="text" #pApellidoPaterno [value]="ApiFullobjPacienteInfo.rpta.apellidoPaterno">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Apellido Materno</mat-label>
            <input matInput type="text" #pApellidoMaterno [value]="ApiFullobjPacienteInfo.rpta.apellidoMaterno">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput type="date" #pFechaNacimiento [value]="ApiFullobjPacienteInfo.rpta.fechaNacimiento">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Dni</mat-label>
            <input matInput type="text" #pDni [value]="ApiFullobjPacienteInfo.rpta.dni">
        </mat-form-field>
      </div>
      <div class="col-sm">
       <!--<mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input matInput type="text" #pDireccioUbigeo [value]="ApiFullobjPacienteInfo.rpta.direccionUbigeo">
        </mat-form-field>-->
        <mat-form-field appearance="fill">
          <mat-label>Departamento</mat-label>
          <mat-select [value]="cbo_DepartamentoSelected">
            <mat-option *ngFor="let departamento of listDepartamentosForFilter" [value]="departamento.depaId"  (onSelectionChange)="onChange_DepartamentoSeleccionado(departamento.depaId)">
              {{departamento.nombreDepa}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select [disabled]="CBOPrinvinciaEstaDesactivado" [value]="cbo_ProvinciaSelected">
            <mat-option *ngFor="let provincia of listProvinciasForFilter" [value]="provincia.provId" (onSelectionChange)="onChange_ProvinciaSeleccionado(provincia.provId)">
              {{provincia.nombreProv}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Distrito</mat-label>
          <mat-select [disabled]="CBODistritoEstaDesactivado" [value]="cbo_DistritoSelected" #pDireccioUbigeo [value]="ApiFullobjPacienteInfo.rpta.direccionUbigeo">
            <mat-option *ngFor="let distrito of listDistritosForFilter" [value]="distrito.distId">
              {{distrito.nombreDist}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput type="text" #pTelefono [value]="ApiFullobjPacienteInfo.rpta.telefono">
        </mat-form-field>
      </div>
      <div class="col-sm">
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input matInput type="email" #pCorreo [value]="ApiFullobjPacienteInfo.rpta.correo">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!--<div class="col-sm">
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Violencia</mat-label>
          <mat-select #pTipoViolencia>
            <mat-option *ngFor="let tipoViolencia of tiposViolencia" [value]="tipoViolencia.value">
              {{tipoViolencia.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>-->
     <div class="col-sm">
      <label></label>
        <mat-form-field appearance="fill">
            <mat-label>Tipo de Violencia</mat-label>
            <input matInput type="text" #pTipoViolencia [value]="ApiFullobjPacienteInfo.rpta.tipoViolencia" readonly>
        </mat-form-field>
      </div>
      <div class="col-sm">
       <mat-form-field appearance="fill">
            <mat-label>Riesgo</mat-label>
            <input matInput type="text" #pRiesgo [value]="ApiFullobjPacienteInfo.rpta.riesgo" readonly>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
       <mat-form-field appearance="fill">
            <mat-label>Fecha de Evaluacion</mat-label>
            <input matInput type="date" #pFechaDeEvaluacion [value]="ApiFullobjPacienteInfo.rpta.fechaDeEvaluacion" >
        </mat-form-field>
       <!-- <mat-form-field appearance="fill">
          <mat-label>Fecha de evaluacion</mat-label>
          <input matInput type="text" #pFechaDeEvaluacion [value]="ApiFullobjPacienteInfo.rpta.fechaDeEvaluacion" readonly>
      </mat-form-field>-->
      </div>
      <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Actualmente tiene problemas con</mat-label>
          <input matInput type="text" #pEntidadProblema [value]="ApiFullobjPacienteInfo.rpta.entidadProblema">
      </mat-form-field>
    </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
        <mat-label>Modalidad</mat-label>
        <mat-select #pModalidadAdministrativo [value]="ApiFullobjPacienteInfo.rpta.modalidadAdministrativo">
          <mat-option *ngFor="let modalidad of modalidades" [value]="modalidad.value">
            {{modalidad.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
     <!-- <mat-form-field appearance="fill">
          <mat-label>Modalidad:</mat-label>
          <input matInput type="text" #pModalidadAdministrativo [value]="ApiFullobjPacienteInfo.rpta.nombres">
      </mat-form-field>-->
    </div>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions >
  <button class="btn btn-primary" cdkFocusInitial (click)="EditarPaciente(pNombres.value , pApellidoPaterno.value ,pApellidoMaterno.value ,pFechaNacimiento.value , pDni.value ,pTelefono.value ,pDireccioUbigeo.value ,pCorreo.value,pTipoViolencia.value,pRiesgo.value,pFechaDeEvaluacion.value,pEntidadProblema.value,pModalidadAdministrativo.value)">Guardar</button>
</mat-dialog-actions>
