<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary colorBarra elevation-4">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="../../../assets/dist/img/usuario2.png" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a  class="d-block">{{objPsicologoFullInfo.nombres}} {{objPsicologoFullInfo.apellidoPaterno}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                <a routerLink="/dashboard/{{g_routeparam_PsicologoId}}" class="nav-link">
                  <i class="nav-icon fas fa-home"></i>
                  <p>Inicio</p>
                </a>
              </li>
          <li class="nav-item">
            <a routerLink="/dashboard/{{g_routeparam_PsicologoId}}/reportes" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>Reportes</p>
            </a>
          </li>
         <li class="nav-item">
            <a routerLink="/dashboard/{{g_routeparam_PsicologoId}}/usuarios" class="nav-link">
              <i class="nav-icon fas fa-users"></i>
              <p>Usuarias</p>
            </a>
          </li>
          <ng-template [ngIf]="html_pintarOpcionAdmi">
          <li class="nav-item">
           <a routerLink="/dashboard/{{g_routeparam_PsicologoId}}/listapsicologo" class="nav-link">
              <i class="nav-icon fa fa-stethoscope"></i>
              <p>Psicologos</p>
            </a>
          </li>
          </ng-template>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
