<div class="mat-elevation-z8">
  <div class="table-responsive-sm">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">P1</th>
          <th class="text-center" scope="col">P2</th>
          <th class="text-center" scope="col">P3</th>
          <th class="text-center" scope="col">P4</th>
          <th class="text-center" scope="col">P5</th>
          <th class="text-center" scope="col">P6</th>
          <th class="text-center" scope="col">P7</th>
          <th class="text-center" scope="col">P8</th>
          <th class="text-center" scope="col">P9</th>
          <th class="text-center" scope="col">P10</th>
          <th class="text-center" scope="col">P11</th>
          <th class="text-center" scope="col">P12</th>
          <th class="text-center" scope="col">P13</th>
          <th class="text-center" scope="col">P14</th>
          <th class="text-center" scope="col">P15</th>
          <th class="text-center" scope="col">P16</th>
          <th class="text-center" scope="col">P17</th>
          <th class="text-center" scope="col">P18</th>
          <th class="text-center" scope="col">P19</th>
          <th class="text-center" scope="col">P20</th>
          <th class="text-center" scope="col">P21</th>
          <th class="text-center" scope="col">P22</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p01}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p02}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p03}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p04}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p05}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p06}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p07}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p08}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p09}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p10}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p11}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p12}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p13}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p14}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p15}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p16}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p17}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p18}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p19}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p20}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p21}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPostRespuestasFullInfo.p22}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div><br>

