
<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th class="text-center" scope="col">P1</th>
        <th class="text-center" scope="col">P2</th>
        <th class="text-center" scope="col">P3</th>
        <th class="text-center" scope="col">P4</th>
        <th class="text-center" scope="col">P5</th>
        <th class="text-center" scope="col">P6</th>
        <th class="text-center" scope="col">P7</th>
        <th class="text-center" scope="col">P8</th>
        <th class="text-center" scope="col">P9</th>
        <th class="text-center" scope="col">P10</th>
        <th class="text-center" scope="col">P11</th>
        <th class="text-center" scope="col">P12</th>
        <th class="text-center" scope="col">P13</th>
        <th class="text-center" scope="col">P14</th>
        <th class="text-center" scope="col">P15</th>
        <th class="text-center" scope="col">P16</th>
        <th class="text-center" scope="col">P17</th>
        <th class="text-center" scope="col">P18</th>
        <th class="text-center" scope="col">P19</th>
        <th class="text-center" scope="col">P20</th>
        <th class="text-center" scope="col">P21</th>
        <th class="text-center" scope="col">P22</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p01}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p02}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p03}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p04}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p05}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p06}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p07}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p08}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p09}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p10}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p11}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p12}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p13}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p14}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p15}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p16}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p17}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p18}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p19}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p20}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p21}}</td>
        <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutoestimaPreRespuestasFullInfo.p22}}</td>
      </tr>
    </tbody>
  </table>
</div>
