
<div class="mat-elevation-z8">
  <div class="table-responsive-sm">
    <table class="table  table-bordered">
      <thead>
        <tr>
          <th class="text-center" scope="col">P1</th>
          <th class="text-center" scope="col">P2</th>
          <th class="text-center" scope="col">P3</th>
          <th class="text-center" scope="col">P4</th>
          <th class="text-center" scope="col">P5</th>
          <th class="text-center" scope="col">P6</th>
          <th class="text-center" scope="col">P7</th>
          <th class="text-center" scope="col">P8</th>
          <th class="text-center" scope="col">P9</th>
          <th class="text-center" scope="col">P10</th>
          <th class="text-center" scope="col">P11</th>
          <th class="text-center" scope="col">P12</th>
          <th class="text-center" scope="col">P13</th>
          <th class="text-center" scope="col">P14</th>
          <th class="text-center" scope="col">P15</th>
          <th class="text-center" scope="col">P16</th>
          <th class="text-center" scope="col">P17</th>
          <th class="text-center" scope="col">P18</th>
          <th class="text-center" scope="col">P19</th>
          <th class="text-center" scope="col">P20</th>
          <th class="text-center" scope="col">P21</th>
          <th class="text-center" scope="col">P22</th>
          <th class="text-center" scope="col">P23</th>
          <th class="text-center" scope="col">P24</th>
          <th class="text-center" scope="col">P25</th>
          <th class="text-center" scope="col">P26</th>
          <th class="text-center" scope="col">P27</th>
          <th class="text-center" scope="col">P28</th>
          <th class="text-center" scope="col">P29</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p01}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p02}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p03}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p04}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p05}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p06}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p07}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p08}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p09}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p10}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p11}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p12}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p13}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p14}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p15}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p16}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p17}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p18}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p19}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p20}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p21}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p22}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p23}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p24}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p25}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p26}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p27}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p28}}</td>
          <td class="text-center">{{objAPIRpta_objPacienteRespuestasCuestionarioAutonomiaPreRespuestasFullInfo.p29}}</td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

