<div class="content-wrapper">   

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
                <section class="vh-50" style="background-color: #f4f5f7;">
                        <div class="container pt-5 h-100" >
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-lg-12 mb-4 mb-lg-0">
                                <div class="card">
                                    <div class="card-body" style="text-align:center ;">
                                      <h1>Cuestionario Inventario de Autoestima</h1>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                  </section>
            </div>          
          </div>
        </div><!-- /.container-fluid -->
      </section>



      <section class="content-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
                <section class="vh-50" style="background-color: #f4f5f7;">
                        <div class="container pt-3 h-100" >
                          <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col col-lg-10 mb-4 mb-lg-0">
                                <div class="card">
                                    <div class="card-header text-center">
                                    <p style="text-align:justify ;">
                                       
                                            A continuación, encontrarás una lista de frases. Marca con un aspa (X) la opción que se acerca más a tu modo de sentir, pensar y actuar.<br><br>
                                            Es importante que contestes todas las frases. Ten presente que no hay respuestas correctas o incorrectas. Responde por favor del modo <br>
                                            más sincero posible, sin pensar demasiado por la respuesta que vayas a dar. Gracias.<br>
                                            Las alternativas de respuesta son:<br><br>
                                            V = Cuando la frase  SI coincide con tu modo de ser, pensar o actuar.<br>
                                            F = Si la frase  No coincide con tu modo de ser, pensar o actuar.
                                        
                                    </p>                   
                                    </div>
                
                                    <div class="card-body">                       
                                        <form>
                                            <!--PREGUNTA 1-->    
                                            <label>1. Me resulta difícil hablar frente a un grupo de personas<span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                              <div class="row">                               
                                                <div class="col-sm-10">
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta1" id="gridRadios1" value="option1">
                                                    <label class="form-check-label" for="gridRadios1">
                                                      Verdadero
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta1" id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                      Falso
                                                    </label>
                                                  </div>                                  
                                                </div>
                                              </div>
                                            </fieldset> 
                
                                            <!--PREGUNTA 2-->
                                            <label>2. Hay muchas cosas de mí misma (físico, forma de ser o habilidades) que cambiaría si pudiese<span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                              <div class="row">                               
                                                <div class="col-sm-10">
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta2" id="gridRadios3" value="option1">
                                                    <label class="form-check-label" for="gridRadios3">
                                                      Verdadero
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta2" id="gridRadios4" value="option2">
                                                    <label class="form-check-label" for="gridRadios4">
                                                      Falso
                                                    </label>
                                                  </div>                                  
                                                </div>
                                              </div>
                                            </fieldset>  

                                            <!--PREGUNTA 3-->
                                            <label>3. Puedo tomar decisiones sin mayor dificultad
                                                <span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                              <div class="row">                               
                                                <div class="col-sm-10">
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta3" id="gridRadios1" value="option1">
                                                    <label class="form-check-label" for="gridRadios1">
                                                      Verdadero
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta3" id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                      Falso
                                                    </label>
                                                  </div>                                  
                                                </div>
                                              </div>
                                            </fieldset>  

                                            <!--PREGUNTA 4-->
                                            <label>4. Me altero fácilmente en casa<span style="color:red ;">*</span></label>                    
                                            <fieldset class="form-group">
                                              <div class="row">                               
                                                <div class="col-sm-10">
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta4" id="gridRadios1" value="option1">
                                                    <label class="form-check-label" for="gridRadios1">
                                                      Verdadero
                                                    </label>
                                                  </div>
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="pregunta" id="gridRadios2" value="option2">
                                                    <label class="form-check-label" for="gridRadios2">
                                                      Falso
                                                    </label>
                                                  </div>                                  
                                                </div>
                                              </div>
                                            </fieldset> 

                                             <!--PREGUNTA 5-->
                                             <label>5. Me toma mucho tiempo acostumbrarme a cualquier situación o experiencia nueva.<span style="color:red ;">*</span></label>                    
                                             <fieldset class="form-group">
                                               <div class="row">                               
                                                 <div class="col-sm-10">
                                                   <div class="form-check">
                                                     <input class="form-check-input" type="radio" name="pregunta5" id="gridRadios1" value="option1">
                                                     <label class="form-check-label" for="gridRadios1">
                                                       Verdadero
                                                     </label>
                                                   </div>
                                                   <div class="form-check">
                                                     <input class="form-check-input" type="radio" name="pregunt5" id="gridRadios2" value="option2">
                                                     <label class="form-check-label" for="gridRadios2">
                                                       Falso
                                                     </label>
                                                   </div>                                  
                                                 </div>
                                               </div>
                                             </fieldset> 

                                               <!--PREGUNTA 6-->
                                               <label>6. Soy popular entre las personas de mi edad.<span style="color:red ;">*</span></label>                    
                                               <fieldset class="form-group">
                                                 <div class="row">                               
                                                   <div class="col-sm-10">
                                                     <div class="form-check">
                                                       <input class="form-check-input" type="radio" name="pregunta6" id="gridRadios1" value="option1">
                                                       <label class="form-check-label" for="gridRadios1">
                                                         Verdadero
                                                       </label>
                                                     </div>
                                                     <div class="form-check">
                                                       <input class="form-check-input" type="radio" name="pregunt6" id="gridRadios2" value="option2">
                                                       <label class="form-check-label" for="gridRadios2">
                                                         Falso
                                                       </label>
                                                     </div>                                  
                                                   </div>
                                                 </div>
                                               </fieldset> 

                                               <!--PREGUNTA 7-->
                                               <label>7. Generalmente mis familiares toman en cuenta mis sentimientos.<span style="color:red ;">*</span></label>                    
                                               <fieldset class="form-group">
                                                 <div class="row">                               
                                                   <div class="col-sm-10">
                                                     <div class="form-check">
                                                       <input class="form-check-input" type="radio" name="pregunta7" id="gridRadios1" value="option1">
                                                       <label class="form-check-label" for="gridRadios1">
                                                         Verdadero
                                                       </label>
                                                     </div>
                                                     <div class="form-check">
                                                       <input class="form-check-input" type="radio" name="pregunt7" id="gridRadios2" value="option2">
                                                       <label class="form-check-label" for="gridRadios2">
                                                         Falso
                                                       </label>
                                                     </div>                                  
                                                   </div>
                                                 </div>
                                               </fieldset> 

                                                <!--PREGUNTA 8-->
                                                <label>8. Me rindo fácilmente.<span style="color:red ;">*</span></label>                    
                                                <fieldset class="form-group">
                                                  <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta8" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Verdadero
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunt8" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Falso
                                                        </label>
                                                      </div>                                  
                                                    </div>
                                                  </div>
                                                </fieldset> 

                                                <!--PREGUNTA 9-->
                                                <label>9. Es bastante difícil ser “Yo misma”.<span style="color:red ;">*</span></label>                    
                                                <fieldset class="form-group">
                                                  <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta9" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Verdadero
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunt9" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Falso
                                                        </label>
                                                      </div>                                  
                                                    </div>
                                                  </div>
                                                </fieldset> 

                                                 <!--PREGUNTA 10-->
                                                 <label>10. Me siento muchas veces confundida por las diferentes situaciones en mi vida
                                                    .<span style="color:red ;">*</span></label>                    
                                                 <fieldset class="form-group">
                                                   <div class="row">                               
                                                     <div class="col-sm-10">
                                                       <div class="form-check">
                                                         <input class="form-check-input" type="radio" name="pregunta10" id="gridRadios1" value="option1">
                                                         <label class="form-check-label" for="gridRadios1">
                                                           Verdadero
                                                         </label>
                                                       </div>
                                                       <div class="form-check">
                                                         <input class="form-check-input" type="radio" name="pregunt10" id="gridRadios2" value="option2">
                                                         <label class="form-check-label" for="gridRadios2">
                                                           Falso
                                                         </label>
                                                       </div>                                  
                                                     </div>
                                                   </div>
                                                 </fieldset> 

                                                <!--PREGUNTA 11-->
                                                <label>10. La gente usualmente sigue mis ideas.<span style="color:red ;">*</span></label>                    
                                                <fieldset class="form-group">
                                                       <div class="row">                               
                                                         <div class="col-sm-10">
                                                           <div class="form-check">
                                                             <input class="form-check-input" type="radio" name="pregunta11" id="gridRadios1" value="option1">
                                                             <label class="form-check-label" for="gridRadios1">
                                                               Verdadero
                                                             </label>
                                                           </div>
                                                           <div class="form-check">
                                                             <input class="form-check-input" type="radio" name="pregunt11" id="gridRadios2" value="option2">
                                                             <label class="form-check-label" for="gridRadios2">
                                                               Falso
                                                             </label>
                                                           </div>                                  
                                                         </div>
                                                       </div>
                                                </fieldset> 

                                                <!--PREGUNTA 12-->
                                                <label>12. Tengo una opinión negativa de mí misma.<span style="color:red ;">*</span></label>                    
                                                <fieldset class="form-group">
                                                  <div class="row">                               
                                                    <div class="col-sm-10">
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunta12" id="gridRadios1" value="option1">
                                                        <label class="form-check-label" for="gridRadios1">
                                                          Verdadero
                                                        </label>
                                                      </div>
                                                      <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="pregunt12" id="gridRadios2" value="option2">
                                                        <label class="form-check-label" for="gridRadios2">
                                                          Falso
                                                        </label>
                                                      </div>                                  
                                                    </div>
                                                  </div>
                                                </fieldset> 

                                                 <!--PREGUNTA 13-->
                                                 <label>13. En muchas ocasiones, me gustaría irme de mi casa.<span style="color:red ;">*</span></label>                    
                                                 <fieldset class="form-group">
                                                   <div class="row">                               
                                                     <div class="col-sm-10">
                                                       <div class="form-check">
                                                         <input class="form-check-input" type="radio" name="pregunta13" id="gridRadios1" value="option1">
                                                         <label class="form-check-label" for="gridRadios1">
                                                           Verdadero
                                                         </label>
                                                       </div>
                                                       <div class="form-check">
                                                         <input class="form-check-input" type="radio" name="pregunt13" id="gridRadios2" value="option2">
                                                         <label class="form-check-label" for="gridRadios2">
                                                           Falso
                                                         </label>
                                                       </div>                                  
                                                     </div>
                                                   </div>
                                                 </fieldset> 

                                                  <!--PREGUNTA 14-->
                                                  <label>13. Frecuentemente me siento descontenta con mi trabajo.<span style="color:red ;">*</span></label>                    
                                                  <fieldset class="form-group">
                                                    <div class="row">                               
                                                      <div class="col-sm-10">
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="pregunta14" id="gridRadios1" value="option1">
                                                          <label class="form-check-label" for="gridRadios1">
                                                            Verdadero
                                                          </label>
                                                        </div>
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="pregunt14" id="gridRadios2" value="option2">
                                                          <label class="form-check-label" for="gridRadios2">
                                                            Falso
                                                          </label>
                                                        </div>                                  
                                                      </div>
                                                    </div>
                                                  </fieldset> 

                                                  <!--PREGUNTA 15-->
                                                  <label>15. No soy tan bonita como la mayoría de mujeres.<span style="color:red ;">*</span></label>                    
                                                  <fieldset class="form-group">
                                                    <div class="row">                               
                                                      <div class="col-sm-10">
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="pregunta15" id="gridRadios1" value="option1">
                                                          <label class="form-check-label" for="gridRadios1">
                                                            Verdadero
                                                          </label>
                                                        </div>
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="pregunt15" id="gridRadios2" value="option2">
                                                          <label class="form-check-label" for="gridRadios2">
                                                            Falso
                                                          </label>
                                                        </div>                                  
                                                      </div>
                                                    </div>
                                                  </fieldset>

                                                  <!--PREGUNTA 16-->
                                                  <label>15. Si tengo algo que decir usualmente lo digo.<span style="color:red ;">*</span></label>                    
                                                  <fieldset class="form-group">
                                                    <div class="row">                               
                                                      <div class="col-sm-10">
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="pregunta16" id="gridRadios1" value="option1">
                                                          <label class="form-check-label" for="gridRadios1">
                                                            Verdadero
                                                          </label>
                                                        </div>
                                                        <div class="form-check">
                                                          <input class="form-check-input" type="radio" name="pregunt16" id="gridRadios2" value="option2">
                                                          <label class="form-check-label" for="gridRadios2">
                                                            Falso
                                                          </label>
                                                        </div>                                  
                                                      </div>
                                                    </div>
                                                  </fieldset>

                                                   <!--PREGUNTA 17-->
                                                   <label>17. Mis familiares me comprenden.<span style="color:red ;">*</span></label>                    
                                                   <fieldset class="form-group">
                                                     <div class="row">                               
                                                       <div class="col-sm-10">
                                                         <div class="form-check">
                                                           <input class="form-check-input" type="radio" name="pregunta17" id="gridRadios1" value="option1">
                                                           <label class="form-check-label" for="gridRadios1">
                                                             Verdadero
                                                           </label>
                                                         </div>
                                                         <div class="form-check">
                                                           <input class="form-check-input" type="radio" name="pregunt17" id="gridRadios2" value="option2">
                                                           <label class="form-check-label" for="gridRadios2">
                                                             Falso
                                                           </label>
                                                         </div>                                  
                                                       </div>
                                                     </div>
                                                   </fieldset>

                                                   <!--PREGUNTA 18-->
                                                   <label>18. Pienso que los demás son más queridos que yo.<span style="color:red ;">*</span></label>                    
                                                   <fieldset class="form-group">
                                                     <div class="row">                               
                                                       <div class="col-sm-10">
                                                         <div class="form-check">
                                                           <input class="form-check-input" type="radio" name="pregunta18" id="gridRadios1" value="option1">
                                                           <label class="form-check-label" for="gridRadios1">
                                                             Verdadero
                                                           </label>
                                                         </div>
                                                         <div class="form-check">
                                                           <input class="form-check-input" type="radio" name="pregunt18" id="gridRadios2" value="option2">
                                                           <label class="form-check-label" for="gridRadios2">
                                                             Falso
                                                           </label>
                                                         </div>                                  
                                                       </div>
                                                     </div>
                                                   </fieldset>

                                                   <!--PREGUNTA 19-->
                                                   <label>19. Muchas veces siento como si mis familiares me estuvieran presionando.<span style="color:red ;">*</span></label>                    
                                                   <fieldset class="form-group">
                                                     <div class="row">                               
                                                       <div class="col-sm-10">
                                                         <div class="form-check">
                                                           <input class="form-check-input" type="radio" name="pregunta19" id="gridRadios1" value="option1">
                                                           <label class="form-check-label" for="gridRadios1">
                                                             Verdadero
                                                           </label>
                                                         </div>
                                                         <div class="form-check">
                                                           <input class="form-check-input" type="radio" name="pregunt19" id="gridRadios2" value="option2">
                                                           <label class="form-check-label" for="gridRadios2">
                                                             Falso
                                                           </label>
                                                         </div>                                  
                                                       </div>
                                                     </div>
                                                   </fieldset>

                                                    <!--PREGUNTA 20-->
                                                    <label>20. Frecuentemente me siento desanimada con las diversas actividades (en casa,laborales, familiares) que estoy haciendo.<span style="color:red ;">*</span></label>                    
                                                    <fieldset class="form-group">
                                                      <div class="row">                               
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta20" id="gridRadios1" value="option1">
                                                            <label class="form-check-label" for="gridRadios1">
                                                              Verdadero
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta20" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Falso
                                                            </label>
                                                          </div>                                  
                                                        </div>
                                                      </div>
                                                    </fieldset>

                                                    <!--PREGUNTA 21-->
                                                    <label>21. Frecuentemente desearía ser otra persona.<span style="color:red ;">*</span></label>                    
                                                    <fieldset class="form-group">
                                                      <div class="row">                               
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta21" id="gridRadios1" value="option1">
                                                            <label class="form-check-label" for="gridRadios1">
                                                              Verdadero
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta21" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Falso
                                                            </label>
                                                          </div>                                  
                                                        </div>
                                                      </div>
                                                    </fieldset>

                                                    <!--PREGUNTA 22-->
                                                    <label>21. Pienso que no se puede confiar en mí.<span style="color:red ;">*</span></label>                    
                                                    <fieldset class="form-group">
                                                      <div class="row">                               
                                                        <div class="col-sm-10">
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta22" id="gridRadios1" value="option1">
                                                            <label class="form-check-label" for="gridRadios1">
                                                              Verdadero
                                                            </label>
                                                          </div>
                                                          <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="pregunta22" id="gridRadios2" value="option2">
                                                            <label class="form-check-label" for="gridRadios2">
                                                              Falso
                                                            </label>
                                                          </div>                                  
                                                        </div>
                                                      </div>
                                                    </fieldset>
                                                                                            
                                            <div class="form-group row">
                                              <div class="col-sm-10">
                                                <button type="submit" routerLink="/dashboard/pretest" class="btn btn-primary">Enviar</button>
                                              </div>
                                            </div>
                                          </form>
                
                                    </div>
                                
                                </div>  
                            </div>
                          </div>
                        </div>
                  </section>
            </div>          
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
</div>
