 <div class="hold-transition login-page">
 <!--<h1>{{imprimiendo.canciones.autores[1].nombre}}</h1><br>
  <h1>{{imprimiendo.canciones.autores[1].premio.nombre}}</h1><br>
  <h1>{{imprimiendo.canciones.autores[1].premio.ano}}</h1><br>
  <h1>{{imprimiendo.canciones.autores[1].premio.dinero}} soles</h1><br>
  <h1>{{imprimiendo.coloresFav[1].nombre}}</h1><br>
  <h1>{{imprimiendo.coloresFav[1].tipo}}</h1><br>-->

    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-red">
        <div class="card-header text-center">

        </div>
        <div class="card-body">
          <div class="text-center mt-5 mb-5">
            <img src="../../../assets/dist/img/logoAurora.png"  width="100%" >
          </div>

          <br>

          <form action="" method="post">
            <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Dni" #Usuario>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" #Contrasena>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
          </form>

          <div class="social-auth-links text-center mt-2 mb-3">
            <a class="btn btn-block colorboton" (click)="Logearse(Usuario.value, Contrasena.value)">
                Ingresar
             </a>
          </div>


        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->


  </div>
