 <div class="hold-transition login-page">

 <!--<h1>{{imprimiendo.canciones.autores[1].nombre}}</h1><br>
  <h1>{{imprimiendo.canciones.autores[1].premio.nombre}}</h1><br>
  <h1>{{imprimiendo.canciones.autores[1].premio.ano}}</h1><br>
  <h1>{{imprimiendo.canciones.autores[1].premio.dinero}} soles</h1><br>
  <h1>{{imprimiendo.coloresFav[1].nombre}}</h1><br>
  <h1>{{imprimiendo.coloresFav[1].tipo}}</h1><br>-->

    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline color">
        <div class="card-header text-center">
          <img src="../../../assets/dist/img/cintillo.png" width="100%"   >
        </div>
        <div class="card-body">
          <nav class="navbar  justify-content-between">
            <div class=" navbar-brand arribaIzquierda my-2 my-sm-0"></div>
            <div class="arribaDerecha my-2 my-sm-0"></div>
          </nav>

          <div class="text-center mt-2 mb-2 triangulo">
            <h2 class="h1"><b>Mujeres</b>&nbsp;Acompañando<b>&nbsp;Mujeres</b></h2>
          </div>
          <br>

          <nav class="navbar  justify-content-between">
            <div class=" navbar-brand abajoIzquierda my-2 my-sm-0"></div>
            <div class="abajoDerecha my-2 my-sm-0"></div>
          </nav>

          <div class="centrar" >
          <form action="" method="post"  >
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Dni" #Usuario>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" placeholder="Password" #Contrasena>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
          </form>


          <div class="social-auth-links text-center mt-2 mb-3 form">
            <a class="btn btn-block colorboton" (click)="Logearse(Usuario.value, Contrasena.value)">
                Ingresar
             </a>
          </div>
        </div>


        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->


  </div>
