<mat-dialog-actions align="end">
  <button class="btn btn-danger" mat-dialog-close>Cerrar</button>
</mat-dialog-actions>

<!--<form [formGroup]="myForm">-->
<mat-dialog-content class="mat-typography">
<h2 mat-dialog-title class="text-center">Agregar Usuaria</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" #pNombres >
          <!--<mat-error *ngIf="myError('myName', 'required')">Name is required</mat-error>-->
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Apellido Paterno</mat-label>
          <input matInput type="text" #pApellidoPaterno>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Apellido Materno</mat-label>
          <input matInput type="text" #pApellidoMaterno>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput type="date" #pFechaNacimiento>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Dni/Carnet Extranjeria</mat-label>
          <input matInput type="text" max="8" #pDni>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Direccion</mat-label>
          <input matInput type="text" max="32" #pDireccioUbigeo>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Telefono</mat-label>
          <input matInput type="text"  #pTelefono>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Correo</mat-label>
          <input matInput type="email" #pCorreo>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Violencia</mat-label>
        <mat-select #pTipoViolencia>
          <mat-option *ngFor="let tipoViolencia of tiposViolencia" [value]="tipoViolencia.value">
            {{tipoViolencia.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field appearance="fill">
        <mat-label>Riesgo</mat-label>
        <mat-select #pRiesgo>
          <mat-option *ngFor="let riesgo of riesgos" [value]="riesgo.value">
            {{riesgo.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Año de Evaluacion</mat-label>
          <input matInput type="date" #pFechaDeEvaluacion>
      </mat-form-field>
    </div>
    <div class="col-sm">
      <mat-form-field appearance="fill">
          <mat-label>Actualmente tiene problemas con</mat-label>
          <input matInput type="text" #pEntidadProblema>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <!--<mat-form-field appearance="fill">
          <mat-label>Modalidad:</mat-label>
          <input matInput type="text" #pModalidadAdministrativo>
      </mat-form-field>-->
      <mat-form-field appearance="fill">
        <mat-label>Modalidad</mat-label>
        <mat-select #pModalidadAdministrativo>
          <mat-option *ngFor="let modalidad of modalidades" [value]="modalidad.value">
            {{modalidad.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
</mat-dialog-content>
<!--</form>-->
<mat-dialog-actions >
<button class="btn btn-primary" (click)="RegistrarPaciente(pNombres.value , pApellidoPaterno.value ,pApellidoMaterno.value ,pFechaNacimiento.value , pDni.value ,pTelefono.value ,pDireccioUbigeo.value ,pCorreo.value,pTipoViolencia.value,pRiesgo.value,pFechaDeEvaluacion.value,pEntidadProblema.value,pModalidadAdministrativo.value)" cdkFocusInitial>Guardar</button>
</mat-dialog-actions>
