<div class="content-wrapper"  id="htmlData">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <nav class="navbar navbar-light bg-light justify-content-between">
              <a class="navbar-brand"></a>
                <button type="button" class="btn btn-danger my-2 my-sm-0" (click)="downloadPDF()">PDF</button>
            </nav>
              <section class="vh-50" style="background-color: #f4f5f7;">
                      <div class="container py-5 h-100" >
                        <div class="row d-flex justify-content-center align-items-center h-100">
                          <div class="col col-lg-12 mb-4 mb-lg-0">
                            <div class="card mb-3" style="border-radius: .5rem;">
                              <div class="row g-0">
                                <div class="col-md-12">
                                  <div class="card-body p-4">
                                    <h6>Psicóloga Comunitaria&nbsp;<i class="fas fa-address-card"></i></h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                      <div class="col-4 mb-3">
                                        <h6>Nombre Completo</h6>
                                        <p class="text-muted">{{objPsicologoFullInfo.nombres +' '+ objPsicologoFullInfo.apellidoPaterno+ ' '+ objPsicologoFullInfo.apellidoMaterno}}</p>
                                      </div>
                                      <div class="col-4 mb-3">
                                        <h6>Cantidad de Usuarias</h6>
                                        <p class="text-muted">{{objPsicologoFullInfo.cantPacientes}}</p>
                                      </div>
                                      <div class="col-4 mb-3">
                                        <h6>Distrito de Intervención</h6>
                                        <p class="text-muted">--</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </section>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">

        <h2 class="text-center mb-3"><i class="fas fa-filter"></i>&nbsp;Filtros</h2>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Region</mat-label>
                <mat-select>
                  <mat-option value="one">La libertad</mat-option>
                  <mat-option value="two">Lambayeque</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Distrito</mat-label>
                <mat-select>
                  <mat-option value="one">Magdalena del mar</mat-option>
                  <mat-option value="two">Cercado</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Edad</mat-label>
                <mat-select>
                  <mat-option value="one">20</mat-option>
                  <mat-option value="two">21</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Tipo de violencia</mat-label>
                <mat-select>
                  <mat-option value="one">Psicologica</mat-option>
                  <mat-option value="two">Fisica</mat-option>
                  <mat-option value="two">Economica</mat-option>
                  <mat-option value="two">Sexual</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Nivel de riesgo</mat-label>
                <mat-select>
                  <mat-option value="one">Leve</mat-option>
                  <mat-option value="two">Moderado</mat-option>
                  <mat-option value="two">Severo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
             <!-- AREA CHART -->
         <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Tipo de Violencia </h3>
            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="chart">
              <app-grafico-tipo-violencia></app-grafico-tipo-violencia>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->


          <!-- BAR CHART -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Nivel de Riesgo</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <app-grafico-nivel-riesgo></app-grafico-nivel-riesgo>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->


          <!-- BAR CHART -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Motivación al cambio </h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
               <app-grafico-motivacion></app-grafico-motivacion>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
          </div>




          <div class="col-md-6">
                  <!-- BAR CHART -->
                  <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Autoestima</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="chart">
                          <app-grafico-autoestima></app-grafico-autoestima>
                        </div>
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                     <!-- BAR CHART -->
                     <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Toma de Decisiones</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="chart">
                          <app-grafico-decisiones></app-grafico-decisiones>
                        </div>
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->

                     <!-- BAR CHART -->
                     <div class="card card-primary">
                      <div class="card-header">
                        <h3 class="card-title">Autonomía Personal y Afrontamiento en mujeres</h3>

                        <div class="card-tools">
                          <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                          </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="chart">
                          <app-grafico-autonomia></app-grafico-autonomia>
                        </div>
                      </div>
                      <!-- /.card-body -->
                  </div>
                  <!-- /.card -->


          </div>


        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->












