<div class="content-wrapper"  id="htmlData">
  <!-- Content Header (Page header) -->
  <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-12">
            <nav class="navbar navbar-light bg-light justify-content-between">
              <a class="navbar-brand"></a>
                <button type="button" class="btn btn-danger my-2 my-sm-0" (click)="downloadPDF()">PDF</button>
            </nav>
              <section class="vh-50" style="background-color: #f4f5f7;">
                      <div class="container py-5 h-100" >
                        <div class="row d-flex justify-content-center align-items-center h-100">
                          <div class="col col-lg-12 mb-4 mb-lg-0">
                            <div class="card mb-3" style="border-radius: .5rem;">
                              <div class="row g-0">
                                <div class="col-md-12">
                                  <div class="card-body p-4">
                                    <h6 class="text-center" ><i class="fas fa-address-card" style="color: rgb(235, 30, 35);"></i>&nbsp;Psicóloga Comunitaria</h6>
                                    <hr class="mt-0 mb-4">
                                    <div class="row pt-1">
                                      <div class="col-4 mb-3">
                                        <h6>Nombre Completo</h6>
                                        <p class="text-muted">{{objPsicologoFullInfo.nombres +' '+ objPsicologoFullInfo.apellidoPaterno+ ' '+ objPsicologoFullInfo.apellidoMaterno}}</p>
                                      </div>
                                      <div class="col-4 mb-3">
                                        <h6>Cantidad de Usuarias</h6>
                                        <p class="text-muted">{{objPsicologoFullInfo.cantPacientes}}</p>
                                      </div>
                                      <div class="col-4 mb-3">
                                        <h6>Distrito de Intervención</h6>
                                        <p class="text-muted">{{objPsicologoFullInfo.ubigeoNombre}}</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </section>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <h2 class="text-center mb-3"><i class="fas fa-filter" style="color: rgb(235, 30, 35);"></i>&nbsp;Filtros</h2>
        <div class="container">
          <div class="row">
            <div class="col-sm borde">
              <h4 class="texto text-center">Filtros aplicados</h4>
              <button *ngFor="let itemDepartamentoSelected of form_array_ListDepartamento;" (click)="OnClick_QuitarElementoListToFiltro(itemDepartamentoSelected.DistritoId)" class="btn btn-secondary m-1 bg-transparent text-danger"><span class="text-danger"><b>Distrito:</b></span><span class="text-muted">{{itemDepartamentoSelected.RutaNombre}}</span><span><b>{{itemDepartamentoSelected.DistritoNombre}}</b></span></button>
            </div>
            <nav class="navbar navbar-light bg-light justify-content-between">
              <a class="navbar-brand"></a>
              <form class="form-inline">
                <ng-template *ngIf="LosFiltrosSeHanModificado; then thenBlock else elseBlock"></ng-template>
                  <ng-template #thenBlock>
                    <button type="button" class="btn btn-primary my-2 my-sm-0 mr-1" (click)="htmlbtn_AplicarFiltros(CBOTipoDeViolencia.value, CBONivelDeRiesgo.value, pDesdeEdad.value, pHastaEdad.value)">Aplicar filtros</button>
                  </ng-template>
                  <ng-template #elseBlock>
                    <button type="button" class="btn btn-secondary my-2 my-sm-0 mr-1">Filtros aplicados</button>
                  </ng-template>
              </form>
            </nav>
          </div>
          <div class="row mt-5">
              <h4><b>Filtro Ubigeo: </b></h4>
          </div>
          <div class="row">
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Departamento</mat-label>
                <mat-select [value]="cbo_DepartamentoSelected">
                  <mat-option *ngFor="let departamento of listDepartamentosForFilter" [value]="departamento.depaId"  (onSelectionChange)="onChange_DepartamentoSeleccionado(departamento.depaId)">
                    {{departamento.nombreDepa}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Provincia</mat-label>
                <mat-select [disabled]="CBOPrinvinciaEstaDesactivado" [value]="cbo_ProvinciaSelected">
                  <mat-option *ngFor="let provincia of listProvinciasForFilter" [value]="provincia.provId" (onSelectionChange)="onChange_ProvinciaSeleccionado(provincia.provId)">
                    {{provincia.nombreProv}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Distrito</mat-label>
                <mat-select [disabled]="CBODistritoEstaDesactivado" [value]="cbo_DistritoSelected">
                  <mat-option *ngFor="let distrito of listDistritosForFilter" [value]="distrito.distId" (onSelectionChange)="onChange_DistritoSeleccionado(distrito.distId,distrito.nombreDist)">
                    {{distrito.nombreDist}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
          </div>
          <div class="row mt-3">
            <h4><b>Filtro Tipo de Violencia y Nivel de riesgo: </b></h4>
        </div>
          <div class="row">
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Tipo de violencia</mat-label>
                <mat-select #CBOTipoDeViolencia >
                  <mat-option value="Psicológico" (onSelectionChange)="onChange_CBO_TipoViolencia()">Psicologica</mat-option>
                  <mat-option value="Físico" (onSelectionChange)="onChange_CBO_TipoViolencia()">Fisica</mat-option>
                  <mat-option value="Económico" (onSelectionChange)="onChange_CBO_TipoViolencia()">Economica</mat-option>
                  <mat-option value="Sexual" (onSelectionChange)="onChange_CBO_TipoViolencia()">Sexual</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm">
              <mat-form-field appearance="fill">
                <mat-label>Nivel de riesgo</mat-label>
                <mat-select #CBONivelDeRiesgo >
                  <mat-option value="Leve" (onSelectionChange)="onChange_CBO_Riesgo()">Leve</mat-option>
                  <mat-option value="Moderado" (onSelectionChange)="onChange_CBO_Riesgo()">Moderado</mat-option>
                  <mat-option value="Severo" (onSelectionChange)="onChange_CBO_Riesgo()">Severo</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="col-sm"></div>
          </div>
          <div class="row mt-3">
            <h4><b> Filtro Edad: </b></h4>
        </div>
            <div class="row">
              <div class="col-sm">
                <mat-form-field appearance="fill">
                  <mat-label>Desde [Edad]:</mat-label>
                  <input matInput type="number" #pDesdeEdad>
               </mat-form-field>
              </div>
              <div class="col-sm">
                <mat-form-field appearance="fill">
                  <mat-label>Hasta [Edad]:</mat-label>
                  <input matInput type="number" #pHastaEdad>
                </mat-form-field>
              </div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
              <div class="col-sm"></div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
             <!-- AREA CHART -->
               <div class="card card-primary">
                 <div class="card-header" style="background-color: rgb(235, 30, 35);">
                   <h3 class="card-title" >Tipo de Violencia </h3>
                      <div class="card-tools">
                         <button type="button" class="btn btn-tool" data-card-widget="collapse">
                         <i class="fas fa-minus"></i>
                         </button>
                      </div>
                  </div>
                  <div class="card-body">
                    <div class="chart">
                      <app-grafico-tipo-violencia
                        [inPutParametersFilter]="outPutParametersFilter"></app-grafico-tipo-violencia>
                    </div>
                  </div>
               </div>

             <!-- BAR CHART -->
             <div class="card card-primary">
               <div class="card-header" style="background-color: rgb(235, 30, 35);">
                 <h3 class="card-title">Autoestima</h3>
                 <div class="card-tools">
                   <button type="button" class="btn btn-tool" data-card-widget="collapse">
                     <i class="fas fa-minus"></i>
                   </button>
                 </div>
               </div>
               <div class="card-body">
                 <div class="chart">
                   <app-grafico-autoestima
                   [inPutParametersFilter]="outPutParametersFilter"></app-grafico-autoestima>
                 </div>
               </div>
           </div>

             <!-- BAR CHART -->
             <div class="card card-primary">
               <div class="card-header" style="background-color: rgb(235, 30, 35);">
                 <h3 class="card-title">Motivación al cambio </h3>
                 <div class="card-tools">
                   <button type="button" class="btn btn-tool" data-card-widget="collapse">
                     <i class="fas fa-minus"></i>
                   </button>
                 </div>
               </div>
               <div class="card-body">
                 <div class="chart">
                  <app-grafico-motivacion
                  [inPutParametersFilter]="outPutParametersFilter"></app-grafico-motivacion>
              </div>
               </div>
             </div>
        </div>


        <div class="col-md-6">
          <!-- BAR CHART -->
          <div class="card card-primary">
            <div class="card-header" style="background-color: rgb(235, 30, 35);">
              <h3 class="card-title">Nivel de Riesgo</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <app-grafico-nivel-riesgo
                [inPutParametersFilter]="outPutParametersFilter"></app-grafico-nivel-riesgo>
              </div>
            </div>
          </div>


          <!-- BAR CHART -->
          <div class="card card-primary">
             <div class="card-header" style="background-color: rgb(235, 30, 35);">
               <h3 class="card-title">Toma de Decisiones</h3>
               <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse">
                   <i class="fas fa-minus"></i>
                 </button>
               </div>
             </div>
             <div class="card-body">
               <div class="chart">
                 <app-grafico-decisiones
                 [inPutParametersFilter]="outPutParametersFilter"></app-grafico-decisiones>
               </div>
             </div>
          </div>


          <!-- BAR CHART -->
           <div class="card card-primary">
             <div class="card-header" style="background-color: rgb(235, 30, 35);">
               <h3 class="card-title">Autonomía Personal y Afrontamiento en mujeres</h3>
               <div class="card-tools">
                 <button type="button" class="btn btn-tool" data-card-widget="collapse">
                   <i class="fas fa-minus"></i>
                 </button>
               </div>
             </div>
             <div class="card-body">
               <div class="chart">
                 <app-grafico-autonomia
                 [inPutParametersFilter]="outPutParametersFilter"></app-grafico-autonomia>
               </div>
             </div>
          </div>
        </div>


        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->












